.debug * {
    border: 1px dashed green;
}
* {
    font-family: "Segoe UI";
}
body {
    margin: 0;
    background-image: url('../images/background.png');
}
body p, body li {
    font-size: 1.4em;
    text-align: justify;
}
#content, #footer {
    margin: 20px;
}
#navbar {
    background-color: #333;
}
#nav-list {
    list-style: none;
    margin: 0;
    padding: 15px;
}
#nav-list * {
    display: inline;
    color: white;
}
.nav-item.nav-item-right {
    float: right;
    margin-right: 10px;
    margin-top: -5px;
}
.nav-item {
    padding: 5px;
}
.nav-item:hover:not(.nav-title) {
    font-weight: 500;
}
#nav-list a {
    text-decoration: none;
    color: black;
}
.nav-title {
    font-weight: bold;
}
.nav-item.active {
    font-weight: 500;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    margin: 0;
    padding: 20px;
    color: white;
}
.content #content-body {
    background-color: #fffd;
    padding: 20px;
    min-height: 100vh;
}
h3.no-space {
    margin-bottom: 0;
}
p.no-space {
    margin-top: 0;
}
.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.skill-image {
    width: 100%;
    height: 100%;
    margin: 4px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px #ddd;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    user-select: none;
}
img.skill-image:hover {
    transform: scale(1.03);
}
img.project-image {
    width: 100%;
    box-shadow: 0px 3px 4px 3px #ccc;
    margin-bottom: 20px;
}
.detection-text {
    width: 40%;
    margin: 0;
    margin-right: 5px;
}
.detection-image {
    width: 100%;
    border: 1px solid black;
}
.labyrinth-integration-text {
    width: 70%;
    margin: 0;
    margin-right: 5px;
}
.labyrinth-integration-image {
    width: 30%;
    border: 1px solid black;
}
.labyrinth-progress-text {
    width: 70%;
}
.labyrinth-progress-image {
    width: 30%;
    border: 1px solid black;
    margin: 0;
    margin-right: 5px;
}
.cauldron-recipe-text {
    width: 50%;
    margin: 0;
    margin-right: 5px;
}
.cauldron-recipe-image {
    width: 50%;
    border: 1px solid black;
}
.challenges-container {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.detection-container {
    display: flex;
    flex-direction: row;
}
.image-border {
    border: 1px solid black;
}
.page-title {
    font-size: 48px;
    border-bottom: 1px solid #ccc6;
}
.main-background {
    padding: 20px;
    height: 400px;
    background-image: url('../images/main-background.jpg');
    background-size: cover;
    box-shadow: 0px 4px 4px 2px #aaa;
    display: flex;
    justify-content:flex-start;
    align-items: end;
    z-index: 1;
}
.main-page-title {
    font-size: 4.2em;
    color: white;
    margin-left: 2rem;
    margin-bottom: 30px;
}
.nav-lang {
    user-select: none;
    cursor: pointer;
}
.code-image {
    box-shadow: 0px 2px 3px 2px #aaa;
    width: 100%;
}
.bird-image {
    width: 100%;
}
.icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img{
    width: 20px;
}

.card-url {
    text-decoration: none;
    color: black;
}

.card-url div:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 3px 3px #bbb;
}

.card-url div {
    border: 1px solid #999;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 2px 2px #ccc;
    transition: ease-in-out 0.3s;
    margin-bottom: 25px;
}

.card-url h2 {
    margin-top: 0px;
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.card-url p {
    margin-top: 8px;
    margin-bottom: 1px;
}

.project-content {
    display: none;
    transition: ease-in-out 0.5s;
}

[project-target]:hover {
    cursor: pointer;
}

#loading {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.6);
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}