.debug * {
    border: 1px dashed green;
}
body {
    margin: 0;
}
#content, #footer {
    margin: 20px;
}
#nav-list {
    list-style: none;
}
#nav-list * {
    display: inline;
}
.nav-item.nav-item-right {
    float: right;
}