.debug * {
    border: 1px dashed green;
}
* {
    font-family: "Segoe UI";
}
body {
    margin: 0;
}
#content, #footer {
    margin: 20px;
}
#nav-list {
    list-style: none;
}
#nav-list * {
    display: inline;
}
.nav-item.nav-item-right {
    float: right;
    margin-right: 10px;
    margin-top: -5px;
}
.nav-item {
    padding: 5px;
}
#nav-list a {
    text-decoration: none;
    color: black;
}
.nav-title {
    font-weight: bold;
}
.nav-item.active {
    font-weight: 500;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#content #content-body {
    width: 70%;
}
h4.no-space {
    margin-bottom: 0;
}
p.no-space {
    margin-top: 0;
}
.image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.skill-image {
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 15px;
    box-shadow: 0 0 3px 3px #ddd;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    user-select: none;
}
img.skill-image:hover {
    transform: scale(1.03);
}